@media only screen and (max-width: 600px) {
  body {
    background-color: black;
    text-align: center;
  }
  .myName {
    background-color: black;
  }
}

.container1 {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: cadetblue;
  border-radius: 5px;
  flex-wrap: wrap;
}

.row1 {
  color: #efd3d7;
  margin: 15px;
}
.myName {
  font-size: 20px;
  font-family: "Birthstone", cursive;
  margin-top: 20px;
  background-color: chocolate;
  width: 90%;
  padding: 5px;
  letter-spacing: 5px;
  border-radius: 5px;
}
.facebook {
  margin-left: 50px;
  color: #4267b2;
}

.row2 {
  color: #efd3d7;
  margin: 15px;
  font-size: 80%;
  font-family: "Birthstone", cursive;
}

.image {
  border-radius: 5px;
  margin-left: 15%;
}
