.fullContainer {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.buttonContainer {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.button {
  background-color: #bdb2ff;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  margin: 5px;
}

.button1 {
  background-color: #bdb2ff;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  margin: 5px;
}

.red {
  background-color: red;
}
